.textContainer{
    border-radius: 20px;
    border: 1px solid rgba(209, 142, 226, 0.13);
    background: rgba(209, 142, 226, 0.05);
    margin-left: 15px;
    width: 100%;
    padding: 40px 55px;
    font-weight: 300;
}
.maintext{
    color: #686869;
    /* font-family: 'Garet';                                       */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

@media (min-width: 1054px) {
    .textContainer{
        border-radius: 20px;
        border: 1px solid rgba(209, 142, 226, 0.13);
        background: rgba(209, 142, 226, 0.05);
        margin-left: 15px;
        width: 100%;
        padding: 40px 35px;
    }
}

@media (max-width: 768px) {
    .maincontainer{
        margin-right: 0rem;
        margin-top: 14px;
       
    } 
    .img{
        margin-left: -31px;
    }
    .textContainer{
        border-radius: 20px;
        border: 1px solid rgba(209, 142, 226, 0.13);
        background: rgba(209, 142, 226, 0.05);
        padding: 20px 20px 20px 20px;
        height: auto;
    }
    .maintext{
        color: #6c757d;
        font-family: Garet;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: -0.48px;
        width:auto;
    }
}