.pdfBox{
    max-width: 100%;
    border-radius: 20px;
    background: #D18EE2;
    padding: 35px 25px;

}
.pdfheading{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}
.boxwrapper{
    border-radius: 10px;
    background: #E3A8F2;
    padding: 16px 18px;
    margin-bottom: 15px;
  margin-left: -6px;
  margin-right: -6px;
  padding-left: 18px;
  

}
.textinsidebox{
color: #212529;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 300;
letter-spacing: 0.4px;
line-height: 1.3
}