.profileContainer{
    /* background-color: #6c6d6e;
    width: 60%;
    margin-left: 44px;
    margin-top: 24rem; */

    /* margin-right: 24px; */

    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: rgba(209, 142, 226, 0.11);
    padding: 4px 4px;
    color: #090F1D;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    display: flex;
    gap: 12px;
    margin-bottom: 1rem;

}
.span{
    padding-left: 2px;
  
}


@media (min-width: 1024px) {
    .profileContainer{
        border-radius: 60px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        background: rgba(209, 142, 226, 0.11);
        padding: 4px 4px;
        color: #090F1D;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
        display: flex;
        gap: 1px;
        margin-bottom: 1rem;

    }
    .imgtag{
        margin: 9px;
        padding-top: 6px;
    }
}

@media (min-width: 1054px) {
    .profileContainer{
        border-radius: 60px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        background: rgba(209, 142, 226, 0.11);
        padding: 4px 4px;
        color: #090F1D;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
        display: flex;
        gap: 1px;
        margin-bottom: 1rem;
        width: 69%;
    }
}